body{
	background-color: #51f7b5;
}

a:link{
	color: black;
	text-decoration: none;

}

a:hover{
	color: black;
	transition: all 1s;
	text-decoration: none;

}

a:visited{
	transition: all 1s;
	text-decoration: none;
	color: black;
}

ul{
	text-align: center;
	color: black;
	display: inline;
	margin: 20px;
	font-family: 'Modak', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px 10px 20px 10px;
	list-style: none;

}

li{
	shape-margin: circle;
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	display: inline;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
}
	
h1{
	text-align: center;
	font-family: 'Modak', cursive;
	font-size: 80px;
	font-color: white;
	padding-top: 20px;
	text-shadow: 3px 2px white;
}

h3{
	text-align: center;
	align-content: center;
	font-family: 'Istok Web', sans-serif;
	margin-top: 30px;
	text-shadow: 3px 2px white;
	font-weight: bold;
}

div{
	text-align: center;
	align-content: center;
	font-family: 'Istok Web', sans-serif;
	margin-top: 10px;
	font-color: white;
}